h1 {
  color: blue;
}

.font-style {
  color: red;
}

/* キーワードによる色の指定 */
.keyword {
  color: orange;
  font-size: 30px;
  background-color: green;
}

/* 16進数による色の指定 */
.hexadecimal {
  color: #ffa500;
}

/* RGBによる色の指定 */
.rgb {
  color: rgb(255, 165, 0);
}

/* ゴシック体 */
.gothic {
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* 明朝体 */
.mincho {
  font-family:  "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.bg-image {
  background-image: url("https://picsum.photos/id/237/300/200");
  background-size: cover;
  width: 300px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
  color: white;
}

.container {
  background-color: tomato;
  width: 600px;
  height: 400px;
  border: solid 10px gray;
  padding: 50px 20px 30px 40px;
  margin-bottom: 50px;
  box-sizing: border-box;
  display: inline-block;
}

.parent {
  background-color: gray;
  padding: 10px;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
}

.children {
  background-color: greenyellow;
  box-sizing: border-box;
  padding: 5px;
  margin: 10px;
}
